$TTL 3600
$ORIGIN ddns.lab.
@       IN SOA  ns01.dns.lab. root.ddns.lab. (
                2024072401 ; serial
                3600       ; refresh
                600        ; retry
                86400      ; expire
                3600 )     ; minimum

        IN NS   ns01.dns.lab.
