options {
        listen-on port 53 { 127.0.0.1; {{ dns_server_ip }}; };
        listen-on-v6 port 53 { none; };
        directory "/var/named";
        dump-file "/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
        secroots-file "/var/named/data/named.secroots";
        recursing-file "/var/named/data/named.recursing";
        allow-query { localhost; 10.11.0.0/24; };
        recursion yes;
        dnssec-validation no;
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

include "/etc/named.zonetransfer.key";

zone "dns.lab" IN {
        type master;
        file "/etc/named/named.dns.lab";
};

zone "ddns.lab" IN {
        type master;
        file "/etc/named/dynamic/named.ddns.lab";
        allow-update { key "zonetransfer.key"; };
};
