local   all             all                                     peer
host    all             all             127.0.0.1/32            md5
host    all             all             192.168.57.0/24         md5
host    replication     {{ postgres_replication_user }} 192.168.57.12/32 md5
