input {
  beats {
    port => {{ logstash_beats_port }}
  }
}

filter {
  if [service] == "nginx" and [log][file][path] =~ "access" {
    grok {
      match => { "message" => "%{IPORHOST:client_ip} - %{DATA:user_name} \[%{HTTPDATE:log_time}\] \"%{WORD:method} %{DATA:request} HTTP/%{NUMBER:http_version}\" %{NUMBER:status:int} %{NUMBER:bytes:int} \"%{DATA:referrer}\" \"%{DATA:user_agent}\"" }
    }
    date {
      match => [ "log_time", "dd/MMM/yyyy:HH:mm:ss Z" ]
      remove_field => [ "log_time" ]
    }
  }
  if [service] == "backend" {
    json {
      source => "message"
      skip_on_invalid_json => true
    }
  }
}

output {
  elasticsearch {
    hosts => ["http://127.0.0.1:{{ elasticsearch_http_port }}"]
    index => "cms-%{[service]}-%{+YYYY.MM.dd}"
  }
}
