[defaults]
inventory = ansible/inventory.ini
timeout = 30
host_key_checking = False
forks = 1

[ssh_connection]
ssh_args = -o ControlMaster=no -o ControlPersist=no -o PreferredAuthentications=publickey -o ServerAliveInterval=15 -o ServerAliveCountMax=3
pipelining = False

[privilege_escalation]
become = True
become_method = sudo
become_timeout = 30
